body {
    margin: 0;
    font-family: Garamond, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .app {
    margin: 20px;
  }
  
  .title {
    font-weight: 600;
  }
  
  label {
    /* display: block; */
    margin: 10px;
  }
  